@import url(styles/sidebar.css);
@import url(styles/library.css);
@import url(styles/footer.css);
@import url(styles/header.css);
@import url(styles/main.css);

:root {
    --cor-fundo: #121212;
    --cor-texto: #B3B3B3;
    --cor-destaque: #FFF;
    --cor-hover: #242424;
    --font-principal: 'DM Sans', sans-serif;
}

body {
    background-color: black;
}

.main__container {
    height: 100%;
    margin-left: 320px;
}